/*.content {*/
/*    row-gap: 30px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 400px;*/
/*    transform: translate(-50%, -50%);*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*}*/


.project {
    display: block;
    box-sizing: border-box;
    background-color: rgba(3, 208, 244, 0.04);
    position: relative;
    min-height: 600px;
    max-height: 600px;
    flex-basis: calc(30% - 0px); /* Subtract any margin or padding from the width */
    border-radius: 4px;
    padding: 0 0 20px;
    animation: textColor 10s ease infinite;
    border: 1px rgba(226, 43, 168, 0.1) solid;
}

.product-details-image img {
    display: block;
    box-sizing: border-box;
    background-color: rgba(3, 208, 244, 0.04);
    position: relative;
    min-height: 600px;
    max-height: 600px;
    flex-basis: calc(30% - 0px);
    border-radius: 4px;
    padding: 0 0 20px;
    animation: textColor 10s ease infinite;
    border: 1px rgba(226, 43, 168, 0.1) solid;

}


.project h1{
    color: white;
    white-space: nowrap;
    overflow: hidden; /* Скрива излишния текст */
    max-width: 400px;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    font-size: 2rem; /* set the font size of the heading */
    margin: 0; /* add some spacing below the heading */
}

.project img {
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
}

.project-text {
    margin: 0;
    padding: 0 20px 0 20px;
    color: whitesmoke;
    width: 100%;
}

.project-description {
    color: white;
    /*vertical-align: bottom;*/
    display: block;
    padding: 10px 20px 50px 20px;
    /*border-top: rgba(0, 0, 0, .1) 5px solid;*/
    overflow: auto;
    max-height: 95px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.project:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, rgba(244, 3, 212, 0.01), rgba(126, 15, 255, 0.66));
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}




@keyframes animateGlow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: #7e0fff;
    }
}