/*.content {*/
/*    row-gap: 30px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 400px;*/
/*    transform: translate(-50%, -50%);*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*}*/


.project {
    /*max-height: 500px;*/
    border-radius: 4px;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    animation: textColor 10s ease infinite;
    flex-basis: calc(33.333% - 200px); /* Subtract any margin or padding from the width */
    position: relative;
    color: #252B37;
    background-color: rgba(0, 255, 119, 0.06);
    padding: 0 0 20px;
    box-sizing: border-box;
}

.project:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, rgba(244, 3, 212, 0.01), rgba(126, 15, 255, 0.66));
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}
.project img {
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
}
.project-text {
    padding: 5px 10px 5px 10px;
    color: whitesmoke;
    width: 100%; /* set the width of the div */
    word-wrap: break-word; /* allow words to break onto new lines */
    white-space: pre-line; /* preserve newlines in the text */
}
.project-description {
    padding: 5px 10px 30px 10px;
    color: whitesmoke;
    width: 100%; /* set the width of the div */
    word-wrap: break-word; /* allow words to break onto new lines */
    white-space: pre-line; /* preserve newlines in the text */
}

.project h1{
    padding: 20px 10px;
    font-size: 2rem; /* set the font size of the heading */
    margin: 0; /* add some spacing below the heading */
}

h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 10px 0 0 0;
}

@keyframes animateGlow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: #7e0fff;
    }
}