.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    row-gap: 100px;
    column-gap: 50px;
    padding: 100px 300px;
}

.project {
    display: block;
    /*display: flex;*/
    /*align-items: center;*/
    min-width: 400px;
    min-height: 400px;
    max-width: 500px;
    max-height: 550px;

    /*flex-wrap: wrap;*/
    text-align: center;
    animation: textColor 10s ease infinite;
    flex-basis: calc(33.33% - 40px); /* Subtract any margin or padding from the width */
    position: relative;
    color: #252B37;
    /*background-color: rgba(0, 255, 119, 0.06);*/
    width: 100%;
    /*margin: 0 auto;*/

    padding: 20px 0 20px;
    box-sizing: border-box;
}

.project div h3{
    max-width: 300px;
}

.project:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, rgba(244, 3, 212, 0.01), rgba(126, 15, 255, 0.66));
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}
img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

.project-text {
    color: white;
    text-align: center;
}




@keyframes animateGlow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: #7e0fff;
    }
}