.error-container {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 50px;
    height: auto;
}

.error_message {
    position: relative;
    text-align: center;
    background: white;
    color: blueviolet;
    box-shadow: 0 0 5px blueviolet, 0 0 25px blueviolet, 0 0 50px blueviolet, 0 0 100px blueviolet;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    margin-top: 20px;
}