.button-container {
    /* От височината на navbar */
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.catalog-button-container {
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 3px;   /* space between glow buttons */
}



.glow-purple-button a {
    row-gap: 5px;
    /*border: rgba(83, 83, 84, 0.21) 1px solid;*/

    color: #ffffff;
    font-size: .8rem;
    text-transform: uppercase;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    height: 100%;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 1px;
}


.glow-purple-button a:hover {
    background: white;
    color: blueviolet;
    border-radius: 3px;
    box-shadow: 0 0 5px blueviolet, 0 0 25px blueviolet, 0 0 50px blueviolet, 0 0 100px blueviolet;
}
