
a.multicolor-button{
    /*color: #fff;*/
    text-transform: uppercase;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #f4036f, rgba(126, 15, 255, 0.44), red, #9003f4, purple, blue, yellow);
    background-size: 400%;
    z-index: 1;
    border-radius: 3px;
    height: 100%;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 1px;
}

a.login-button:hover {
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
a.login-button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #f403d4, #4900ff, #7c3697);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
}
a.login-button:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}
