html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    /*background: url("../../images/bg.jpg") fixed;*/
    /*background-size: 50%;*/
}

button {
    width:40%;
    height: 50px;
    color: whitesmoke;
    background: transparent;
    border: none;
}

/*.auth-box {*/
/*    position: absolute;*/
/*    top: 60%;*/
/*    left: 50%;*/
/*    !*width: 500px;*!*/
/*    !*padding: 80px;*!*/
/*    transform: translate(-50%, -50%);*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*}*/


/* CENTERING FORM BUTTONS*/
.auth-buttons-container {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px; /* Adds space between auth buttons*/
}

.auth-buttons-container button{
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
}


/* END */


/*!* BASE OF LOGIN FORM *!*/
/*.auth-box .nav-buttons {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 400px;*/
/*    padding: 40px;*/
/*    transform: translate(-50%, -50%);*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*}*/

.auth-box h2 {
    /*  Раздалечава Login от формата  */
    margin: 0 0 50px;

    padding: 0;
    color: #fff;
    text-align: center;
}

.auth-box .user-box {
    position: relative;
}

/*.auth-box .user-box input {*/
/*    width: 100%;*/
/*    padding: 10px 0;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    margin-bottom: 50px;*/
/*    border: none;*/
/*    border-bottom: 1px solid #fff;*/
/*    outline: none;*/
/*    background: transparent;*/
/*}*/

/*.auth-box .user-box label {*/
/*    position: absolute;*/
/*    top:0;*/
/*    left: 0;*/
/*    padding: 10px 0;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    pointer-events: none;*/
/*    transition: .5s;*/
/*}*/

/*.auth-box .user-box input:focus ~ label,*/
/*.auth-box .user-box input:valid ~ label {*/
/*    top: -20px;*/
/*    left: 0;*/
/*    color: darkslateblue;*/
/*    font-size: 12px;*/
/*}*/

.auth-box form button {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    font-size: 16px;
    text-decoration: none;

    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 1px
}

.auth-box button:hover {
    background: white;
    color: blueviolet;
    border-radius: 5px;
    box-shadow: 0 0 5px blueviolet, 0 0 25px blueviolet, 0 0 50px blueviolet, 0 0 100px blueviolet;
}

.auth-box button span {
    position: absolute;
    display: block;
}







/* LOGIN BUTTON TOP ANIMATED SIDE  */
.auth-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, gray);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.auth-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, gray);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.auth-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, gray);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.auth-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, gray);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*.btn {*/
/*    display: inline-block;*/
/*    *display: inline;*/
/*    *zoom: 1;*/
/*    padding: 4px 10px 4px;*/
/*    margin-bottom: 0;*/
/*    font-size: 13px;*/
/*    line-height: 18px;*/
/*    color: #333333;*/
/*    text-align: center;*/
/*    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
/*    vertical-align: middle;*/
/*    background-color: #f5f5f5;*/
/*    !*background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);*!*/
/*    !*background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);*!*/
/*    !*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));*!*/
/*    !*background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);*!*/
/*    !*background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);*!*/
/*    !*background-image: linear-gradient(top, #ffffff, #e6e6e6);*!*/
/*    !*background-repeat: repeat-x;*!*/
/*    !*filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);*!*/
/*    !*border-color: #e6e6e6 #e6e6e6 #e6e6e6;*!*/
/*    !*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*!*/
/*    border: 1px solid #e6e6e6;*/
/*    -webkit-border-radius: 4px;*/
/*    -moz-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
/*    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
/*    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
/*    cursor: pointer;*/
/*    *margin-left: .3em;*/
/*}*/

/*.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {*/
/*    background-color: #e6e6e6;*/
/*}*/

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    /*background-color: #4a77d4;*/
    /*background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);*/
    /*background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));*/
    /*background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);*/
    /*background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);*/
    /*background-image: linear-gradient(top, #6eb6de, #4a77d4);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);*/
    /*border: 1px solid #3762bc;*/
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
    /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);*/
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
}

.btn-block {
    width: 100%;
    display: block;
}

/** {*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    -ms-box-sizing: border-box;*/
/*    -o-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/



body {
    width: 100%;
    height: 100%;

}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    /*color: #fff;*/

}

*input:focus {
    box-shadow: inset 0 0px 45px rgba(144, 3, 244, 0.53), 0 1px 1px rgba(255, 255, 255, 0.2);
}


body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    /*background-color: #f4f4f4;*/
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    /*padding: 80px;*/
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    /*border-radius: 10px;*/

    padding: 20px;
    /*border: 1px solid rgba(100, 100, 100, .5);*/
    border-radius: 8px;
    /*background-color: #fff;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container label {
    display: block;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.login-container button {
    align-items: center;
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    font-size: 16px;
    text-decoration: none;

    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 1px
}

.login-container button:hover {
    background: white;
    color: blueviolet;
    border-radius: 5px;
    box-shadow: 0 0 5px blueviolet, 0 0 25px blueviolet, 0 0 50px blueviolet, 0 0 100px blueviolet;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

}

.auth-box {
    text-align: center;
    position: fixed;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    /*box-shadow: 0 15px 25px rgba(0,0,0,.6);*/
    border-radius: 10px;
}

/* CENTERING FORM BUTTONS*/
.auth-buttons-container {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px; /* Adds space between auth buttons*/
}

.auth-buttons-container a {
    position: relative;
    /*display: inline-block;*/
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
}

/* END */


/* BASE OF LOGIN FORM */
.auth-box .nav-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
}

.auth-box h2 {
    margin: 0 0 50px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.auth-box .user-box {
    position: relative;
}

.auth-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.auth-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.auth-box .user-box input:focus ~ label,
.auth-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: darkslateblue;
    font-size: 12px;
}

.auth-box form a {

    position: relative;
    display: inline-block;
    padding: 10px 20px;

    font-size: 1.2em;
    text-decoration: none;

    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 1px
}


.auth-box a:hover {
    background: white;
    color: blueviolet;
    border-radius: 5px;
    box-shadow: 0 0 5px blueviolet, 0 0 25px blueviolet, 0 0 50px blueviolet, 0 0 100px blueviolet;
}

.auth-box a span {
    position: absolute;
    display: block;
}


/* LOGIN BUTTON TOP ANIMATED SIDE  */
.auth-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, gray);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.auth-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, gray);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.auth-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, gray);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.auth-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, gray);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}


.login-3d {
    padding: 10% 30%;
    color: #fff;
}
.login-3d:hover {
    -webkit-animation: icon3d 500ms infinite;
    animation: icon3d 600ms infinite;
}

